/* General styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    height: 100%;
  }
  
  .title {
    color: #2c3e50;
    margin-bottom: 30px;
    font-size: 2em;
  }
  
  /* Form styles */
  .form-container {
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
   

  }
  .form-container1 {
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 130px;
   
  }

  
  .form-title {
    color: #34495e;
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  
  .form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .form-input {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s ease;
  }
  
  .form-input:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.2);
  }
  
  .form-select {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
  }
  
  .submit-button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #2980b9;
  }
  
  .table-container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
 
  .table {
    width: 100%;
    border-collapse: collapse; /* Fusionner les bordures */
    margin-top: 20px;
  }
  
  .table th, .table td {
    border: 1px solid #ddd; /* Bordure légère autour de chaque cellule */
    padding: 12px;
    text-align: center;
  }
  
  .table th {
    background-color: #f8f9fa;
    color: #2c3e50;
    font-weight: 600;
    text-align: center;
  }
  
  .table tbody tr:hover {
    background-color: #f1f1f1;
  }
  .sector-title {
    text-align: left;
    color: #3498db;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
